/* Variables.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800;900&display=swap');

:root {
  --verde-pro: #153A2D;
  --naranja-pro: #C66E4D;
  --crema-pro: #FDFBF7;
  --oscuro-pro: #1A1A1A;
  --blanco: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}

/* FIX DEFINITIVO AL MORADO */
a, a:link, a:visited, a:hover, a:active {
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background-color: var(--oscuro-pro);
}